<div class="nav-brand">
    <span class="nav-brand-mark">📚</span>
    <span class="nav-brand-text">BookTrak</span>
</div>

<nav class="nav-links">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="nav-icon">🏠</span> Library
    </NavLink>
    <NavLink class="nav-link" href="authors">
        <span class="nav-icon">✍️</span> Authors
    </NavLink>
    <NavLink class="nav-link" href="add/book">
        <span class="nav-icon">➕</span> Add Book
    </NavLink>
    <NavLink class="nav-link" href="add/author">
        <span class="nav-icon">👤</span> Add Author
    </NavLink>
    <NavLink class="nav-link" href="add/isbn">
        <span class="nav-icon">🔖</span> Add by ISBN
    </NavLink>
    <NavLink class="nav-link" href="refresh-all">
        <span class="nav-icon">🔄</span> Refresh All
    </NavLink>
    <NavLink class="nav-link" href="import">
        <span class="nav-icon">📥</span> Import
    </NavLink>
    <NavLink class="nav-link" href="settings">
        <span class="nav-icon">⚙️</span> Settings
    </NavLink>
</nav>
